* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Commons */

:root {
  --gb-primary: #7c69a4;
  --gb-primary-dark:#4e3969;
  --gb-accent: #ff9614;
  --gb-light-dark: #b2b0b9;
  --gb-lighter: #ffff;
  --gb-light-bkg: #f6f5f3;
}

body {
  background-color: var(--gb-light-bkg);
}

main{
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.container{
  width: 95%;
  margin:auto;
}

.btn{
  padding: 0.5rem 1rem;
  background-color: var(--gb-lighter);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 1px 10px var(--gb-light-dark);
}

/* utilities */
.bg-lighter{
  background-color: var(--gb-lighter);
}

.d-flex{
  display: flex;
}

.hidden{
  display: none;
}



/* Header */

header {

    font-size: 1.5rem;
    text-align: center;
    font-family: 'Nerko One', cursive;
    color: var(--gb-accent);
    background-color: var(--gb-lighter);
    padding: 1rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 4px #b2b0b9;
    margin-bottom: 2rem;
  }

/* #region Main */

/* recepie */

#recepie{

  .col-12{
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .categories{
    text-transform: uppercase;
    color: var(--gb-light-dark);
    font-size: 1rem;
  }

  .recepie-title{ 

    color: var(--gb-primary-dark);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .video{
    
    img{
      display: block;
    }

  }

  .bg-lighter{

      box-shadow: 0px 1px 10px var(--gb-light-dark);
  }
  
  .recepie-recap{

    padding: 1rem ;

    
    h3{
      margin: 1.5rem 0;
    }

    ul{
      list-style: none;
      line-height: 2rem;
    }
  }
}


/* buttons */
#social-btn{

  .container{
    margin-top: 1rem;
    justify-content: space-between;
    gap:1rem;
  
  }

  .btn{
    display: flex;
    font-size: 10px;
    font-weight: 700;
    align-items: center;
    gap:0.5rem;
  }
}

/* banner */
.banner{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;

  img{
    width: 100%;
  }
}

/* presentation */
#presentation{

  h2{
    font-size: 2rem;
    font-weight: 600;
  }

  hr{
    display:block;
    width: 5rem;
    border: 1px solid var(--gb-accent);
    margin-top: 1rem;  
  }

  .preview{
    text-align: center;
    padding: 2rem 0;
  }

  img{
    max-width: 400px;   
    box-shadow: 0 2px 3px var(--gb-light-dark); 
    margin-bottom: 1rem;
  }

  p{
    line-height: 1.5rem;
    text-align: start;
  }

}

/* #endregion Main */

/* Footer */
footer{
  font-family: Montserrat, 'Helvetica Neue', sans-serif; ;
  background-color: var(--gb-primary);
  color: var(--gb-lighter);


  .container-footer{
    width: 85%;
    margin: auto;
    text-align: center;
    line-height:2rem;
    padding: 1rem 2rem;
  }

  .credits{
    font-weight: 700;
  }

  .right-foot{ 

    a{
      padding-left: 1rem;
      color: var(--gb-lighter);
    }

  }
}






/* MEDIA QUERY */


/* Tablet view */

@media screen and (min-width:768px){

  .container{
    width: 85%;
  }

  header{
    text-align: start;
    padding-left: 2rem;
  }


  .hidden{
    display:inline-block;
  }


  .recepie-recap ul{
    display: flex;
    flex-wrap: wrap;  
    gap: 1.5rem; 
 
  }

  #social-btn {
    justify-content: space-between;
  }

  #presentation img{
    float:left;
    margin-right: 1rem;
  
  }

}


/* Desktop view */

@media screen and (min-width:992px) {
  
}